*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

body{
  background: linear-gradient(45deg, #2F1C53,#A46DFF, #F6D1FD) no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.main-block{
  background-color: rgb(219, 212, 212);
  height:700px;
  width: 1000px;
  display: flex;
  margin: auto;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(88, 45, 117, 0.253);
}

.app-block{
  background-color: rgb(155, 159, 228);
  min-height: 650px;
  min-width: 950px;
  box-shadow: 0 4px 8px 0 rgba(88, 45, 117, 0.253);
  margin: 10px 10px;
  z-index: 5;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.App-header{
 padding: 30px 30px;
  font-size: 50px;
  color: rgb(56, 19, 56);
  font-family: cursive;
}

.inputs{
  display: flex;

  
}

.container1{
 
  
  flex:1;
}

.resultContainer{
  margin-top: 3em;
  flex: 1;
  
}

.text{
  padding:10px;
  margin:10px;
  font-family: cursive;
  font-weight: bold;
}
input{
  width: 400px;
  height:50px;
  background: rgb(224, 194, 224);
  outline: #685985;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: #685985 -1;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}

.container2{
  
  margin: auto;
  background-color: white;
  width: 400px;
  height: 350px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(88, 45, 117, 0.253);
}

.payments{
  font-family: cursive;
  font-size: 30px;
  margin-top: 10px;
}


  
.result {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 100px;
  width: 150px;
  margin-top: 100px;
  font-size: xxx-large;
}
